/*
Selector {
  property: value;
  property: value;
} */

/* By Element */

header {
  text-align: center;
  font-family: 'Lato';
  font-size: 50px;
  width: 100%;
  border-bottom: 2px solid #000000;
  padding-top: 20px;
  padding-bottom: 30px;
}

header span {
  font-family: 'Open-sans', Arial;
  font-weight: normal;
  color: #565656;
  font-size: 26px;
  display: block;
}

header a {
  font-size: 17px;
  font-weight: bold;
}

body {
  font-family: 'Lato';
  font-size: 16px;
}

main {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
}

h1, h2, h3, h4 {
  margin-top: 30px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
  border-bottom: 1px solid #e6e6e6;
  max-width: 500px;
  padding-bottom: 10px;
}

h3 {
  font-size: 22px;
  margin-bottom: 0px;
}

ul {

}

li {
  padding-bottom: 5px;
}

/* By Class name */

.subTitle {
  color: #666666;
  font-size: 20px;
}

/* By Id */

#page-wrap {
width: 100%;
margin: 0 auto;
}
